* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(101, 170, 239);
  min-height: 100vh;
}

.container {
  max-width: 700px;
  width: 100%;
  background: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 10px 20px #000;
}

.wrapper {
  border: 1px solid;
  border-radius: 10px;
}

textarea {
  height: 250px;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 100%;
  resize: none;
  padding: 10px;
  font-size: 18px;
}
.text-input {
  display: flex;
  border-bottom: 1px solid;
}

.from-text {
  border-right: 1px solid;
  border-radius: 10px 0px 0px 0px;
}

.controls,
li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.from-vol {
  width: 40px;
  font-size: 18px;
  color: darkgray;
  justify-content: center;
  border-right: 10px;
}

.from-copy {
  width: 40px;
  font-size: 18px;
  color: darkgray;
  justify-content: center;
  border-right: 10px;
}

.to-vol {
  width: 40px;
  font-size: 18px;
  color: darkgray;
  justify-content: center;
  border-right: 10px;
}

.to-copy {
  width: 40px;
  font-size: 18px;
  color: darkgray;
  justify-content: center;
  border-right: 10px;
}
.i-change {
  width: 40px;
  font-size: 18px;
  color: darkgray;
  justify-content: center;
}

.row.from .icons {
  padding-right: 15px;
  border-right: 1px solid;
}

.row.to .icons {
  padding-left: 15px;
  border-left: 1px solid;
}

select {
  border: none;
  outline: none;
  font-size: 12px;
  cursor: pointer;
  margin: 15px 20px 15px 20px;
  padding: 5px 2px 5px 2px;
  transition: all 0.3s ease;
}

select:hover {
  background-color: #eaeaea;
}

select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

option {
  font-size: 12px;
  padding: 10px;
  background-color: #fff;
  color: #000000;
}
button {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  color: white;
  background-color: dodgerblue;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  border-radius: 5px;
}
